#history #left_column {display:none}
#history #center_column{}
#history #center_column h1{margin-top:20px}
#history #center_column h4{
    padding:20px;
    background:#ccc
}
#history #center_column h4 input {
    position: relative;
   top: -8px;
    float:right;
}

.info-order p .icon {
    position:relative;
    top:2px;
    left:0
}

#order-list  th {
    padding:14px 12px;
}
#order-list tr.alternate_item {background-color: #f3f3f3}
#order-list  td {
    border-right:1px solid #e9e9e9;
    border-bottom:1px solid #e9e9e9;
    vertical-align:top
}
#order-list  td.history_detail {border-right:none;}

#block-history label{
    display : inline;
}

.adresses_bloc {margin-bottom:20px}
.adresses_bloc  .item {margin-right:60px}

.detail_step_by_step {width:100%}
.detail_step_by_step tr.last_item td {border-bottom:1px solid #999}

#order-detail-content table .order_qte_input {display:none}
#order-detail-content table tr:nth-child(even) {background:#f3f3f3;}

#sendOrderMessage {margin-bottom:20px}

#returnOrderMessage .textarea textarea,
#sendOrderMessage .textarea textarea {
    width:100%;
}














