.category_block,
.cms_block,
.cmscategory_block,
.product_block,
.custom_block,
.parent_block{
    display : none;
}

.category_block.active,
.cms_block.active,
.cmscategory_block.active,
.product_block.active,
.custom_block.active,
.parent_block.active{
    display : block;
}

.category_option.hidden,
.cms_option.hidden,
.cmscategory_option.hidden,
.product_option.hidden,
.custom_option.hidden,
.parent_option.hidden{
    display : none;
}

tr.hidden{
    display : none;
}

tr.subcategory{
    background-color: #F7F7E8;
}

#informations_link label{
    width : 265px;
}

#informations_link .margin-form {
    padding: 0 0 1em 285px;
}