.option-block {
    display : none;
}

.option-block.active {
    display : block;
}

.option.hidden {
    display : none;
}

tr.hidden{
    display : none;
}

tr.subcategory{
    background-color: #F7F7E8;
}

#link-form label{
    width : 265px;
}

#link-form .margin-form {
    padding: 0 0 1em 285px;
}