/* block top user information */
#header_user {
    padding: 12px 0px 12px 0px;
    background-color: #F8F8F8;
    -moz-box-shadow: 2px 2px 12px #E2E1E1;
    -webkit-box-shadow: 2px 2px 12px #E2E1E1;
    box-shadow: 2px 2px 12px #E2E1E1;
    margin-bottom: 15px;
    font-size: 1.2em;
}
#header_user p {
    color: #595A5E;
    margin-bottom: 0px;
    font-size: 12px;
    padding-top: 2px;
}
#header_user .header_user_right {
    padding-right: 10px;
}
#header_user #header_user_info span { font-weight: bold }
#header_user ul#header_nav {
    margin-bottom : 0px;
    list-style-type : none;
    float: right;
}
#header_user ul#header_nav li {
    float: left;
    line-height: 2em;
    white-space: nowrap
}

#header_user #your_account{
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid #C3C3C3;
}

#header_user li#your_account { margin-left: 0 }
#header_user #shopping_cart a,
#header_user #your_account a {
    background-repeat: no-repeat;
    padding: 2px 0 4px 26px;
    text-decoration: none
}

#header_user #shopping_cart a {
    background-image: url('img/icon/cart3.gif');
    background-position: -2px -2px;
}

#header_user #shopping_cart img.dropdown{
    margin-left: 5px;
    vertical-align: -4px;
}

#header_user #shopping_cart img.hidden{
    display : none;
}

#header_user #your_account a {
    background-image: url('img/icon/my-account.gif');
    background-position: -3px -6px;
}

#first_languages{
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid #C3C3C3;
}

#header_user ul#header_nav #first_languages ul.other_languages{
    position : absolute;
    display : none;
    z-index : 100;
    background-color: white;
    border-bottom: 1px solid #DBDADA;
    -moz-box-shadow: 2px 2px 12px #E2E1E1;
    -webkit-box-shadow: 2px 2px 12px #E2E1E1;
    box-shadow: 2px 2px 12px #E2E1E1;
    padding-left: 5px;
    padding-right: 10px;
    list-style : none;
    margin-left: -4px;
}

#header_user ul#header_nav #first_languages ul.other_languages li{
    float : none;
}

#first_languages a{
    text-decoration : none;
}

/* mobile */
#header_user .nav-bar{
    margin-top: 0px;
    float : none;
    margin-bottom: 10px;
    background-color: #F8F8F8;
    -moz-box-shadow: 2px 2px 12px #E2E1E1;
    -webkit-box-shadow: 2px 2px 12px #E2E1E1;
    box-shadow: 2px 2px 12px #E2E1E1;
}

#header_user .nav-bar > li{
    border : none;
}

#header_user .nav-bar > li:hover {
    background: #E9E9E9;
}

#header_user .nav-bar > li > a {
    color: #595A5E;
}

#header_user .nav-bar> li.has-flyout > a:first-child::after {
    border-color: black transparent transparent transparent;
}

#header_user .nav-bar li.has-flyout{
    float: none;
    line-height: 38px;
}

#header_user .nav-bar li.has-flyout ul.flyout{
    border : none;
}

#header_user .nav-bar li.has-flyout ul.flyout li,
#header_user .nav-bar li ul li {
    border: none;
}

#header_user .nav-bar li.has-flyout ul.flyout li a,
#header_user .nav-bar li ul li a {
    border: none;
    text-decoration : none;
}

/* block cart */
#cart_block {
    z-index: 100;
    display:none;
    position: absolute;
    right: 0;
    top: 36px;
    height: auto;
    width: 200px;
    padding: 0px 15px 10px 15px;
    background-color: #F8F8F8;
    -moz-box-shadow: 1px 5px 8px #E2E1E1;
    -webkit-box-shadow: 1px 5px 8px #E2E1E1;
    box-shadow: 1px 5px 8px #E2E1E1;
    -moz-border-radius: 0px 0px 5px 5px;
    -webkit-border-radius: 0px 0px 5px 5px;
    border-radius: 0px 0px 5px 5px;
}

#cart_block  #vouchers td.delete{
    padding: 9px 15px 0 0;
}

#cart_block  #vouchers td.quantity{
    display : none;
}

#cart_block #cart_block_summary{
    font-size: 1.2em;
    border-bottom: solid 1px #E6E6E6;
    padding-bottom: 5px;
    margin-bottom: 10px;
    font-weight: bold;
}

#cart_block #cart_block_list .products{
    margin-bottom: 10px;
}

#cart_block #cart_block_list .products dd{
    border-bottom: solid 1px #E6E6E6;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

#cart_block #cart_block_list dl.products dt a.product_link{
    float : left;
    margin-right: 5px;
}

#cart_block #cart_block_list dl.products dt a.product_link img{
    border: #D0D1D5 solid 1px;
    box-shadow: 3px 3px 5px #E4E4E4;
    -webkit-box-shadow: 3px 3px 5px #E4E4E4;
    -moz-box-shadow: 3px 3px 5px #E4E4E4;
}

#cart_block #cart-prices{
    text-align: right;
}

#cart_block #cart-prices #cart_block_total,
#cart_block #cart-prices .total{
    font-size : 1.2em;
}

#cart_block #cart-prices #cart_block_shipping_cost{
    font-style: italic;
}

#cart_block #cart-prices .price{
    font-weight : bold;
}

#cart_block .remove_link {
    float:right;
    display:inline-block;
    margin:1px 0 0 5px;
    height:12px;
    width:12px
}

#cart_block .remove_link a {
    display:inline-block;
    height:12px;
    width:12px;
    background: url('img/icon/delete.gif') no-repeat 0 0
}

#cart_block #button_order_cart{
    width: 100%;
    padding: 5px;
}

#cart_block .price{
    color: #EF4135;
    font-weight: bold;
}

@media only screen and (max-width: 767px){ /* Mobile */
    #header_user{
        padding: 0;
        margin: 0;
        background-color: transparent;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-bottom: none;
    }
}